@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 207 100% 51%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 220 7% 8%;
    --foreground: 180 9% 98%;

    --card: 220 7% 8%;
    --card-foreground: 180 9% 98%;

    --popover: 220 7% 8%;
    --popover-foreground: 180 9% 98%;

    --primary: 215 100% 24%;
    --primary-foreground: 180 9% 98%;

    --secondary: 220 7% 16%;
    --secondary-foreground: 180 9% 98%;

    --muted: 216 8% 24%;
    --muted-foreground: 216 8% 49%;

    --accent: 215 73% 16%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 216 8% 12%;
    --input: 217 9% 18%;
    --ring: 215 100% 40%;
  }
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }